{% extends "website/base.html" %}






{% block body %}
<div class="container-1" >
  <div class="box-1">


     <p >
       <a href='{% url 'videos'  %}'>

      
     </a>
     </p>
  </div>
  <!-- This Flexbox will focus primarily on using search to find videos -->
  <div class="box-2">

  <div id = 'search'>
    <form method = 'GET' action = '' class="ui form search">
         <div class ="is-three-fifths">
           <input size= 55 type="text" name='query' placeholder="Search" value = '{{ request.GET.query  }}'/>
           <input type = 'submit' class="ui button teal" value = 'Find Videos'  ></input>
         </div>

       </form>




    </form>

    </div>
  </div>


</div>



</body>
<footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

</footer>

</html>
{% endblock body%}

