
{% extends 'website/base.html' %}
{% block title %}Welcome!!{% endblock %}

{% block body %}
<div>
	<input type="checkbox" class="checkbox" id="chk" />
	<label class="label" for="chk">
		<i class="fas fa-moon"></i>
		<i class="fas fa-sun"></i>
		<div class="ball"></div>
	</label>
</div>
<br>

<center>
<div class="content">
  <h1>Welcome to Devtube!</h1>
  <p class="subtitle is-3"> 💻devlandia is a platform for devs and enthusiasts!!💻  </p>


  <h2>
our platform is incredible and complete.
</h2>
  
    <li class="subtitle is-4">
a youtube just for devs!! here you don't procastine since all the content is turnedfor programming
on this site you can learn various programming languages and computer science</li>
  
  </ul>
  
  <h1 >and where did that come from?</h1>
  <p class="title is-5">comes out of the head of a student of harvard cs50!! called Ysrael!! he developed this platform with the help of the course's classes. During the course he fell in love with programming.</p>
  <figure class="image is-128x128">
    <img class="is-rounded"  src="http://127.0.0.1:8000/media/images/photo_2021-11-30_12-29-38.jpg">
  </figure>
  <br>
  
</center>

{% endblock  %}




