{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page
{% endblock %}
{% block nav-create %}<li class="nav-active">Create New Page</li>{% endblock %}
{% block body %}
     <h1 class="display-5" >Create page</h1>
    <h4 class="text-danger text-center  ">{{error}}</h4>
    <div >
        <form class="form-control" action="{% url 'wiki:create'  %}" method="POST"  >
            {% csrf_token %}          
            
            {{create_form}}
            
            <input  class="btn btn-outline-primary" id = "createpage" type="submit">
            
        </form> 
</div>

{% endblock %}
