{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}
{% block nav-home %}<li class="nav-active">Home</li>{% endblock %}
{% block body %}
    <div id="index" class="container">
        <h1>Pages</h1>
        
        <ul id ="show_list" class="list-group">
           
            {% for entry in entries %}
               
                <li class="list-group-item"><a href= "{% url 'wiki:title' title=entry %}">{{ entry }}</a> </li> 
              
            {% endfor %}
        </ul>
    
    </div>

{% endblock %}